# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=7beee1f5-0a81-4ff5-a6d9-40fc2d82aec4

    # Set to true to disable all reporting
    B:opt-out=false
}


